.sideBar-container {
    width: 100%;
    height: 935px;
    background-color: #191718;
    color: #fff;

    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            position: relative;
            padding: 10px 10px;
            width: 100%;
            height: 44px;
            align-self: center;
            list-style-type: none;
            border-bottom: 2px solid #5c5c5c;
            cursor: pointer;

            &:hover {
                background-color: #5c5c5c;
                margin: 0;

            }
            .cusor {
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 15px;
                height: 22px;
            }
        }
    }



}